.cell {
    padding-top: 100%;
    border: 0.5px solid black;
}

.board {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.backBlack {
    background-color: black;
}

.backDefault {
    background-color: white;
}

.backRed {
    background-color: red;
}

.gamePage {
    margin-top: 5px;
    display: grid;
    row-gap: 10px;
    grid-template-rows: auto 20%;
}