.cell {
    padding-top: 100%;
    border: 0.5px solid black;
}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.row {
    width: 100%;
    display: flex;
}

.backBlack {
    background-color: black;
}

.backDefault {
    background-color: white;
}

.backRed {
    background-color: red;
}